.next-page {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.header { display:block; z-index:10;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  width: 100%;
  background: #272caa;
  padding: 50px 62px;

  &>div {
    padding-top: 37px;
  }

  @media  screen and (max-width : 768px) {
    height: 80px;
    padding:0;
    }
}


.fa.fa-play {
  margin-right:10px;
}

:host, app-landing{
  display: block;
  padding-top:20px;
  @media  screen and (max-width : 768px) {
   
    padding-top:40px;
    }
}