<div class="side-menu">
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <div class="menu-title">Filter by</div>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="section color">
      <div class="title" role="tab" id="color">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseColor" aria-expanded="true" aria-controls="collapseColor" (click)="accrodion('color')">
          Colour
          <i class="glyphicon glyphicon-menu-up" [hidden]="filters.color && !filters.color.folded"></i>
          <i class="glyphicon glyphicon-menu-down" [hidden]="filters.color && filters.color.folded"></i>
        </a>
      </div>
      <div id="collapseColor" class="row collapse in" role="tabpanel"
            aria-labelledby="color">
          <div *ngFor="let filter of filters.color" class="col-xs-2">
            <div class="color-circle" [style.background-color]="filter.code">
              <i class="glyphicon glyphicon-ok"></i>
            </div>
          </div>
      </div>
    </div>
    <div class="section material">
      <div class="title" role="tab" id="Material">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMaterial" aria-expanded="true" aria-controls="collapseMaterial" (click)="accrodion('material')">
          Material
          <i class="glyphicon glyphicon-menu-up" [hidden]="filters.material && !filters.material.folded"></i>
          <i class="glyphicon glyphicon-menu-down" [hidden]="filters.material && filters.material.folded"></i>
        </a>
        </div>
      <div id="collapseMaterial" class="collapse" role="tabpanel" aria-labelledby="Material">
        <div *ngFor="let filter of filters.material">
          <input type="checkbox" name="material-{{filter.id}}">
          <label>{{ filter.name }}</label>
        </div>
      </div>
    </div>
    <div class="section price">
      <div class="title" role="tab" id="Price">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice" (click)="accrodion('price')">
          Price
          <i class="glyphicon glyphicon-menu-up" [hidden]="filters.price && !filters.price.folded"></i>
          <i class="glyphicon glyphicon-menu-down" [hidden]="filters.price && filters.price.folded"></i>
        </a>
        </div>
      <div id="collapsePrice" class="collapse" role="tabpanel" aria-labelledby="Price">
        <div *ngFor="let filter of filters.price">
          <input type="checkbox" name="price-{{filter.id}}">
          <label>{{ filter.range }}</label>
        </div>
      </div>
    </div>
    <div class="section mood">
      <div class="title" role="tab" id="Mood">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMood" aria-expanded="true" aria-controls="collapseMood" (click)="accrodion('mood')">
          Mood
          <i class="glyphicon glyphicon-menu-up" [hidden]="filters.mood && !filters.mood.folded"></i>
          <i class="glyphicon glyphicon-menu-down" [hidden]="filters.mood && filters.mood.folded"></i>
        </a>
        </div>
      <div id="collapseMood" class="collapse" role="tabpanel" aria-labelledby="Mood">
        <div *ngFor="let filter of filters.mood">
          <input type="checkbox" name="price-{{filter.id}}">
          <label>{{ filter.name }}</label>
        </div>
      </div>
    </div>
    <!-- <div class="section sort">
      <div class="title" role="tab" id="Sort">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSort" aria-expanded="true" aria-controls="collapseSort" (click)="accrodion('sort')">
          Sort by
          <i class="glyphicon glyphicon-menu-up" [hidden]="filters.sort && !filters.sort.folded"></i>
          <i class="glyphicon glyphicon-menu-down" [hidden]="filters.sort && filters.sort.folded"></i>
        </a>
      </div>
      <div id="collapseSort" class="collapse" role="tabpanel" aria-labelledby="Sort">
        <div *ngFor="let filter of filters.sortBy">
          {{ filter }}
        </div>
      </div>
    </div> -->
  </div>
