:host {
  /*position: absolute;
  top: 0;
  left: 0;*/
  text-align: center;
  width: 100%;
  &>div {
    padding-top: 37px;
  }
}

.left-part {
  float: left;
  width: 40%;
}

.right-part {
  float: right;
  width: 50%;
  text-align: right;
  /*div.button {
    padding: 25px 0;
    width: 31.5%;
    float: left;
  }*/
}

.center-part {
  width: 6%;
  max-width: 200px;
  padding-top: 20px;
  position: absolute;
  left: 47%;
  top: 40px;
  color: white;
  font-weight: 200;
  img {
    max-width: 125px;
    width: 100%;
  }
}
.Selasfora {
  width: 66px;
  height: 26px;
  font-family: GTAmerica;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: normal;/*0.2px;*/
  text-align: center;
  color: #ffffff;
}
