<div *ngIf="page != 'catalog' && page != 'black' && page !='mixmatch'" class="row">
  <div class="left-part col-sm-5 col-xs-4">
    <app-icon title="Menu" image="/assets/images/menu@2x.png" (click)="openMenu()"></app-icon>
    <a [routerLink]="['/cart']" >
      <app-icon title="Cart" image="/assets/images/cart.png" class="hidden-xs"></app-icon><span class="cart-count hidden-xs" data-toggle="popover" data-content="item was added to cart" style="color:white;">( {{cartCount.count}} )</span>
    </a>
  </div>

  <a [routerLink]="['/']" class="center-part Selasfora col-sm-2 col-xs-4 splash">
    <img  src="/assets/images/logo.png">
  </a>

  <div class="right-part hidden-xs hidden-sm col-sm-5">
    <a routerLink="/catalog/bracelet" class="main-btn">{{'COMMON_BRACELTES' | translate}}</a>
    <a routerLink="/catalog/charm" class="main-btn">{{'COMMON_CHARMS' | translate}}</a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}" class="main-btn">{{'COMMON_CREATE_YOURS' | translate}}</a>
  </div>
</div>

<div *ngIf="page == 'black'" class="row">
  <div class="left-part col-sm-5 col-xs-4">
      <img  class="back-btn" src="/assets/images/icons/back.png" *ngIf="showBack" (click)="goBack()">
    <app-icon title="Menu" image="/assets/images/menu-black.png" (click)="openMenu()" black="true"></app-icon>
    <a [routerLink]="['/cart']" >
      <app-icon title="Cart" image="/assets/images/cart-black.png" class="hidden-xs" black="true"></app-icon><span class="cart-count hidden-xs" data-toggle="popover" data-content="item was added to cart">( {{cartCount.count}} )</span>
    </a>

    <app-icon title="Filter" image="/assets/images/filter.png"
        class="hidden-xs" black="true" *ngIf="showFilterIcon" (click)="openFiltersMenu()">
    </app-icon>
  </div>

  <a [routerLink]="['/']" class="center-part Selasfora col-sm-2 col-xs-4 splash">
    <img src="/assets/images/logo-black.png">
  </a>

  <div class="right-part hidden-xs hidden-sm col-sm-5">
    <a routerLink="/catalog/bracelet" class="header-btn">{{'COMMON_BRACELTES' | translate}}</a>
    <a routerLink="/catalog/charm" class="header-btn">{{'COMMON_CHARMS' | translate}}</a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}" class="main-btn">{{'COMMON_CREATE_YOURS' | translate}}</a>
  </div>
  <div class="visible-xs col-xs-4 right-part">
    <app-icon title="Filter" image="/assets/images/filter.png"
        class="visible-xs" black="true" *ngIf="showFilterIcon" (click)="openFiltersMenu()">
    </app-icon>
  </div>
</div>

<div *ngIf="page == 'catalog'" class="catalog-header row">
  <div class="left-part col-sm-4 col-xs-4 hidden-xs">
    <app-icon title="Menu" image="/assets/images/menu-black.png" (click)="openMenu()"></app-icon>
    <a [routerLink]="['/cart']" >
      <app-icon title="Cart" image="/assets/images/cart-black.png" class="hidden-xs"></app-icon><span class="cart-count hidden-xs" data-toggle="popover" data-content="item was added to cart">( {{cartCount.count}} )</span>
    </a>
    <app-icon title="Filter" image="/assets/images/filter.png" class="hidden-xs" *ngIf="showFilterIcon"></app-icon>
  </div>

  <div class="buttons col-xs-11  col-sm-6 col-md-6 text-center">
    <a routerLink="/catalog/bracelet" class="transparent-btn" [class.active]="type == 'bracelet'">
      {{'COMMON_BRACELTES' | translate}}
    </a>
    <a routerLink="/catalog/charm" class="transparent-btn" [class.active]="type == 'charm'">
      {{'COMMON_CHARMS' | translate}}
    </a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}" class="transparent-btn" [class.active]="type == 'mix'">{{'COMMON_MIXMATCH' | translate}}</a>
  </div>
  

  <div class="right-part  col-sm-2 col-md-2 col-xs-1">
    <button routerLink="/" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!-- mix match header -->

<div *ngIf="page == 'mixmatch'" class="catalog-header row">
  <div class="left-part col-sm-4 col-xs-4 hidden-xs">
    <app-icon title="Menu" image="/assets/images/menu-black.png" (click)="openMenu()"></app-icon>
    <a [routerLink]="['/cart']" >
      <app-icon title="Cart" image="/assets/images/cart-black.png" class="hidden-xs"></app-icon><span class="cart-count hidden-xs" data-toggle="popover" data-content="item was added to cart">( {{cartCount.count}} )</span>
    </a>
    <app-icon title="Filter" image="/assets/images/filter.png" class="hidden-xs" *ngIf="showFilterIcon" (click)="openFiltersMenu()"></app-icon>
   
  </div>

  <div class="buttons col-xs-11  col-sm-6 col-md-6 text-center">
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}" class="transparent-btn" [class.active]="type == 'bracelet'">
      {{'COMMON_BRACELTES' | translate}}
    </a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:2}" class="transparent-btn" [class.active]="type == 'charm'">
      {{'COMMON_CHARMS' | translate}}
    </a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:3}" class="transparent-btn" [class.active]="type == 'mix'">{{'COMMON_MIXMATCH' | translate}}</a>
  </div>
  

  <div class="right-part  col-sm-2 col-md-2 col-xs-1">
    <button routerLink="/" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<app-menu [menuStatus]="menuStatus" (closeMenu)="closeMenu()"></app-menu>
<app-filters-menu *ngIf="showFilterIcon"></app-filters-menu>

