<div *ngIf="page != 'catalog' && page != 'black'" class="row">
  <div class="left-part col-sm-5 col-xs-4">
    <app-icon title="Menu" image="/assets/images/menu@2x.png" (click)="openMenu()"></app-icon>
    <a href="{{ url }}" target="_blank">
      <app-icon title="Cart" image="/assets/images/cart.png" class="hidden-xs"></app-icon>
    </a>
  </div>

  <a [routerLink]="['/']" class="center-part Selasfora col-sm-2 col-xs-4">
    <img src="/assets/images/logo.png">
    <div>Selasfora</div>
  </a>

  <div class="right-part hidden-xs hidden-sm col-sm-5">
    <a routerLink="/catalog/bracelet" class="main-btn">Bracelet</a>
    <a routerLink="/catalog/bracelet" class="main-btn">Charm</a>
    <a href="/mixmatch?step=1" class="secondary-btn">Create yours</a>
  </div>
</div>

<div *ngIf="page == 'black'" class="row">
  <div class="left-part col-sm-5 col-xs-4">
    <app-icon title="Menu" image="/assets/images/menu-black.png" (click)="openMenu()" black="true"></app-icon>
    <a href="{{ url }}" target="_blank">
      <app-icon title="Cart" image="/assets/images/cart-black.png" class="hidden-xs" black="true"></app-icon>
    </a>

    <app-icon title="Filter" image="/assets/images/filter.png"
        class="hidden-xs" black="true" *ngIf="filter" (click)="openFiltersMenu()">
    </app-icon>
  </div>

  <a [routerLink]="['/']" class="center-part Selasfora col-sm-2 col-xs-4">
    <img src="/assets/images/logo-black.png">
    <div class="black">Selasfora</div>
  </a>

  <div class="right-part hidden-xs hidden-sm col-sm-5">
    <a routerLink="/catalog/bracelet" class="header-btn">Bracelets</a>
    <a routerLink="/catalog/charm" class="header-btn">Charms</a>
    <a href="/mixmatch?step=1" class="main-btn">Create yours</a>
  </div>
  <div class="visible-xs col-xs-4">
    <app-icon title="Filter" image="/assets/images/filter.png"
        class="visible-xs" black="true" *ngIf="filter" (click)="openFiltersMenu()">
    </app-icon>
  </div>
</div>

<div *ngIf="page == 'catalog'" class="catalog-header row">
  <div class="left-part col-sm-4 col-xs-4">
    <app-icon title="Menu" image="/assets/images/menu-black.png" (click)="openMenu()"></app-icon>
    <a href="{{ url }}" target="_blank">
      <app-icon title="Cart" image="/assets/images/cart-black.png" class="hidden-xs"></app-icon>
    </a>
    <app-icon title="Filter" image="/assets/images/filter.png" class="hidden-xs"></app-icon>
  </div>

  <div class="buttons hidden-xs hidden-sm col-sm-4 text-center">
    <a routerLink="/catalog/bracelet" class="transparent-btn" [class.active]="type == 'bracelet'">
      Bracelets
    </a>
    <a routerLink="/catalog/charm" class="transparent-btn" [class.active]="type == 'charm'">
      Charms
    </a>
    <a href="/mixmatch?step=1" class="transparent-btn" [class.active]="type == 'mix'">Mix & Match</a>
  </div>

  <div class="right-part hidden-xs col-sm-3">
  </div>
</div>

<app-menu [menuStatus]="menuStatus" (closeMenu)="closeMenu()"></app-menu>
<app-filters-menu *ngIf="filter"></app-filters-menu>
