<div>
  <div class="left-part">
    <app-icon title="Menu" image="/assets/images/menu@2x.png" (click)="openMenu()"></app-icon>
    <app-icon title="Cart" image="/assets/images/cart.png"></app-icon>
  </div>

  <!-- <div class="center-part Selasfora">
    <img src="/assets/images/logo.png">Selasfora
  </div> -->

  <div class="right-part">
    <div class="main-btn">Bracelet</div>
    <div class="main-btn">Charm</div>
    <div class="secondary-btn">Create yours</div>
  </div>
</div>
<app-menu [menuStatus]="menuStatus" (closeMenu)="closeMenu()"></app-menu>
