<div class="footer">
  <div class="copyright col-sm-4">Copyright © Selasfora 2017</div>
  <div class="link col-sm-4 text-center">
    <a [routerLink]="['/contact']" class="right-separator">Contact</a>
    <a [routerLink]="['/journal']" class="right-separator">Journal</a>
    <a [routerLink]="['/catalog/charm']">Shop Charms</a>
  </div>
  <div class="link col-sm-4 text-center hidden-xs">
     <app-user-location></app-user-location>
    </div>
    <div class="link col-sm-4 visible-xs text-right">
        <app-user-location></app-user-location>
       </div>
</div>
