<div class="footer">
  <div class="copyright col-sm-3">Copyright © Selasfora 2018</div>
  <div class="link col-md-9 hidden-xs">
    <a [routerLink]="['/terms']" class="right-separator">Terms and Conditions</a>
    <a [routerLink]="['/privacy']" class="right-separator">Privacy policy</a>
    <a [routerLink]="['/contact']" class="right-separator">Contact</a>
    <a [routerLink]="['/journal']" class="right-separator">Journal</a>
    <a [routerLink]="['/catalog/charm']" class="right-separator">Shop Charms</a>
    <a [routerLink]="['/catalog/bracelet']" class="right-separator">Shop Bracelets</a>
    <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}">Mix & Match</a>
  </div>

  <div class="link col-sm-4 col-md-9 text-center visible-xs">
      <a [routerLink]="['/terms']" class="right-separator">Terms and Conditions</a>
      <a [routerLink]="['/privacy']" class="right-separator">Privacy policy</a>
      <a [routerLink]="['/contact']" class="right-separator">Contact</a>
      <a [routerLink]="['/journal']" class="right-separator">Journal</a>
      <a [routerLink]="['/catalog/charm']" class="right-separator">Shop Charms</a>
      <a [routerLink]="['/catalog/bracelet']" class="right-separator">Shop Bracelets</a>
      <a [routerLink]="['/mixmatch']" [queryParams]="{step:1}" >Mix & Match</a>
    </div>

 
</div>
