<div class="side-menu" [ngClass]="{'out': !open}">
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <img src="assets/images/email-icon.png"/>
  <div class="menu-title">{{'SHIPPING_TITLE' | translate}}</div>
  <div class="menu-sub-title">{{'SHIPPING_SUB_TITLE' | translate}}</div>

   <div class="country-selector">
                    <label for="gender">
                      {{'SHIPPING_COUNTRY' | translate}}
                    </label>
                    <app-dropdown [itemList]="countryList" [isForm]=true (itemChange)="setCountry($event)">
                    </app-dropdown>
                
  </div>

  <div class="delivery">
    <h5 class="delivery-header">{{'SHIPPING_STANDARD' | translate}}</h5>
    <div class="delivery-text">{{'SHIPPING_STANDARD_TEXT' | translate }}</div>
  </div>

  <div class="delivery">
    <h5 class="delivery-header">{{'SHIPPING_EXPRESS' | translate}}</h5>
    <div class="delivery-text">{{'SHIPPING_EXPRESS' | translate}}</div>
  </div>

</div>
