<div class="side-menu" [ngClass]="{'out': !open}">
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <img src="assets/images/email-icon.png"/>
  <div class="menu-title">Shipping Information</div>
  <div class="menu-sub-title">FREE standard deliver on all orders above 75</div>

   <div class="country-selector">
                    <label for="gender">
                      country
                    </label>
                    <app-dropdown [itemList]="countryList" [isForm]=true (itemChange)="setCountry($event)">
                    </app-dropdown>
                
  </div>

  <div class="delivery">
    <h5 class="delivery-header">Standard Delivery</h5>
    <div class="delivery-text">Upto 2 working days</div>
  </div>

  <div class="delivery">
    <h5 class="delivery-header">Express Delivery</h5>
    <div class="delivery-text">Upto 2 working days</div>
  </div>

</div>
