<div>
  <div class="header">
    <app-header page="black"></app-header>
  </div>
  <div class="container">
    <h1>{{'CONTACT_HEADING' | translate}}</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 row">
        <div class="col-md-6 data">
          {{'CONTACT_MESSAGE' | translate}}
        </div>
        <div class="col-md-6 contact">
          <div>support@selasfora.com</div>
          <div>press@selasfora.com</div>
          <div class="links">
            <a href=""><img src="/assets/images/insta-blue.png"></a>
            <a href=""><img src="/assets/images/facebook-blue.png"></a>
            <a href=""><img src="/assets/images/twitter-blue.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form [formGroup]="contactForm" class="col-md-8 col-md-offset-2" novalidate>
        <div class="row">
          <div class="col-md-6">
            <label for="name">{{'FORM_INPUT_NAME' | translate}}</label>
            <input type="text" id="name" name="name" class="form-control"
                formControlName="name">
            <div *ngIf="formErrors.name.length" class="error-msg">
              <div *ngFor="let item of formErrors.name">{{ item | translate }}</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="email">{{'FORM_INPUT_EMAIL' | translate}}</label>
            <input type="email" id="email" name="email" class="form-control"
                formControlName="email">
            <div *ngIf="formErrors.email.length" class="error-msg">
              <div>{{ formErrors.email[0] | translate }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" style="z-index: 8;">
            <label>{{'FORM_INPUT_ISSUE' | translate}}</label>

            <app-dropdown [itemList]="IssueList" [isForm]=true (itemChange)="setIssueType($event)">
            </app-dropdown>
          </div>

       <!--   <div class="col-md-6">
            <label for="subject">{{'FORM_INPUT_SUBJECT' | translate}}</label>
            <input type="text" id="subject" name="subject" class="form-control"
                formControlName="subject">

            <div *ngIf="formErrors.subject.length" class="error-msg">
              <div *ngFor="let item of formErrors.subject">{{ item | translate}}</div>
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-12 message-area">
            <label for="message">
              {{'FORM_INPUT_MESSAGE' | translate}}
            </label>
            <textarea maxlength="300" id="message" name="message" class="form-control"
                formControlName="message"></textarea>
          </div>
        </div>

        <div class="signup-error" *ngIf="errorMessage">{{ errorMessage | translate}}</div>

        <div class="button-line">
          <div type="submit" (click)="onSubmit()" class="tetiary-btn hidden-xs">
            {{'COMMON_SEND' | translate}}
          </div>
        </div>
      </form>
    </div>
    <div type="submit" (click)="onSubmit()" class="tetiary-btn visible-xs">
      {{'COMMON_SEND' | translate}}
    </div>

  </div>
</div>
<app-footer></app-footer>
