

<div class="main-landing hidden-xs" [ngStyle]="{ 'background-image': 'url(' + page.imagePath + ')'}" id="{{idx}}">
  <div class="text-content">
    <div class="title" [hidden]="!page.content.title" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      {{ page.content.title }}
    </div>
    <div class="subtext" [hidden]="!page.content.subtext" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      {{ page.content.subtext }}
    </div>
    <div class="call-for-action" [hidden]="!page.content.cta" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      <span *ngIf="page.content.cta !== 'input'">
        {{ page.content.cta }}
      </span>
      <span *ngIf="page.content.cta == 'input'">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address" [(ngModel)]="newsLetterEmail">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="newsLetter()">
                  <i class="fa fa-long-arrow-right"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="secondary-btn" *ngIf="page.content.btn">
      {{ page.content.btn }}
    </div>
  </div>
  <img src="{{page.imagePath}}">
  <div class="instagram" *ngIf="idx == 5">
    <a href="https://www.instagram.com/selasfora/" target="_blank">
      <img src="/assets/images/insta.png">
    </a>
  </div>
</div>


<div class="main-landing visible-xs" [ngStyle]="{ 'background-image': 'url(' + page.mobileImagePath + ')'}" id="{{idx}}">
  <div class="text-content" [ngStyle]="position">
    <div class="title" [hidden]="!page.content.title" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      {{ page.content.title }}
    </div>
    <div class="subtext" [hidden]="!page.content.subtext" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      {{ page.content.subtext }}
    </div>
    <div class="call-for-action" [hidden]="!page.content.cta" [ngStyle]="{ color: page.colorShade == 'dark' ? 'white' : 'black' }">
      <span *ngIf="page.content.cta !== 'input'">
        {{ page.content.cta }}
      </span>
      <span *ngIf="page.content.cta == 'input'">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address" [(ngModel)]="newsLetterEmail">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="newsLetter()">
                  <i class="fa fa-long-arrow-right"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="secondary-btn hidden-xs" *ngIf="page.content.btn">
      {{ page.content.btn }}
    </div>
    <div class="instagram" *ngIf="idx == 5">
      <a href="https://www.instagram.com/selasfora/" target="_blank">
        <img src="/assets/images/insta.png">
      </a>
    </div>
  </div>
  <img src="{{page.mobileImagePath}}">
</div>
