.main-landing {
   min-height: 100vh;



   
  @media only screen and (min-width : 768px) {
   min-height: 100vh;
    //padding: 0 62px;
  }

  @media screen and (max-width: 768px) and (max-height:768px) {
    
    .secondary-btn{
      margin: auto;
      left: 0;
      right: 0;
      display: block;
     }

    .tetiary-btn {
      text-transform: uppercase;
      display: block;
      clear:both;
      margin:auto;
      left:0;
      right:0;
      width: 195px;
      height: 45px;
      color: white;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      padding-top: 15px;
      border: solid 1px #181818;
      color: black;
      margin-top:20px;
      }
  }

  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  & > img {
    max-width: 100%;
    visibility: hidden;
    width: 100%;
    z-index: -1;
  }
  .text-content {
    position: absolute;

    @media only screen and (min-width : 768px) {
      top: 223px;
      left: 174px;
      width: 320px;
    }

    @media only screen and (max-width : 767px) {
      bottom: 60px;
      left: 0px;
      width: 100%;
      padding: 0 10%;
      box-sizing: border-box;
    }
  }
  .title {
    font-weight: 500;
    font-family: Montserrat;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #ffffff;

    @media only screen and (min-width : 768px) {
      font-size: 50px;
      text-align: left;
    }
    @media only screen and (max-width : 767px) {
      font-size: 26px;
      font-weight: 600;
      text-align: center;
    }

  }

  .subtext {
    font-family: Asar;
    color: #ffffff;

    @media only screen and (min-width : 768px) {
      font-size: 18px;
      line-height: 1.43;
      text-align: left;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media only screen and (max-width : 767px) {
      font-size: 17px;
      line-height: 1.65;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
  }

  .call-for-action {
    .subtext;
    font-family: Montserrat;
    font-size: 14px;
    padding-top: 0;
  }
}

.instagram {
  position: relative;
  z-index: 5;
  /* top: -10vh; */
  /* margin-left: 50.5vw; */
  display: block;
  width: inherit;
  padding: 10px 0;
  span{
    cursor:pointer;
    font-size: 13px;
    padding-left: 1vw;
    i{
      font-size: initial;
    }
  }

}

.input-group {
  input, button {
    border-radius: 0;
    height: 50px;
  }

  button {
    border-left: 0;
  }

  fa {
    font-size: 20px;
    color: #999;
  }

}

.secondary-btn, .tetiary-btn {
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


.main-landing{
  min-height: 100vh;
}

#\30{background-color: #272caa;}

#\34 > div > div.call-for-action{
      width: 230px;
    height: 60px;
    border: solid 1px #181818;
    margin: auto;
    color: black;
}


@media only screen and (min-width: 790px){
.visible-ipad-below {
    display: none !important;
}
}