<div>
  <div class="header">
    <app-header page="black"></app-header>
  </div>

  <div class="container body">
    <div class="row pageTitle">
      <div class="col-sm-6">
        <div class="title">Our Story</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          Selasfora aspires to not only be a part of the wearer’s story but to help tell it by encouraging individual experiences that can, in turn, impart personal meaning to each and every piece. Founded on the primary aim of delivering contemporary solutions for both men and women.
        </div>
      </div>
      <div class="col-sm-6" style="text-align: right;">
        <img src="/assets/images/about-top-right.png" style="width:100%; height: auto;" class="hidden-xs">
        <img src="/assets/images/about-mobile-center.png" style="width:100%; height: auto;" class="visible-xs">
      </div>
    </div>
    <div class="row" class="row hidden-xs">
      <div class="col-sm-12">
        <img src="/assets/images/about-center-extend.png" style="width:100%; height: auto;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="/assets/images/about-bottom-extend.png" style="width:100%; height: auto;" class="hidden-xs">
      </div>
      <div class="col-sm-6">
        <div class="title">Our Team</div>
        <div class="content">
          They say you should start a business that you wish already existed, so we quit our day jobs. It’s a motley group held together by a shared passion for pushing boundaries and challenging conventions.
        </div>
      </div>
      <div class="visible-xs">
        <div class="col-xs-6"><img src="/assets/images/about-mobile-bottom-left.png"></div>
        <div class="col-xs-6"><img src="/assets/images/about-mobile-bottom-right.png"></div>
      </div>
    </div>
    <div class="row contact">
      <div class="c1">Contact</div>
      <div class="c2">We’re online only, which means we love emails.</div>
      <div class="c3"><a href="mailto:support@selasfora.com">support@selasfora.com</a></div>
      <div class="c4">You can also follow us:</div>
      <div class="">
        <a href="https://www.instagram.com/selasfora/" target="_blank">
          <img src="/assets/images/insta-blue.png">
        </a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
