<div>
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div>
    <div class="page-title">Reset Your Password</div>

    <div class="intro-content">It’s okay. We all forgot sometimes.</div>
    <form [formGroup]="loginForm" novalidate>

      <input type="email" id="email" name="email" class="form-control"
          formControlName="email" (blur)="onBlur('email')" placeholder="Enter your email address">
      <div *ngIf="formErrors.email.length" class="error-msg">
        <div *ngFor="let item of formErrors.email">{{ item }}</div>
      </div>

      <div>
        <button type="button" (click)="onSubmit()">
          Reset my password
        </button>
      </div>

      <div class="line">
        <div class="group">
          <a routerLink="/login">I remember now</a>
        </div>
        <div class="group">
          <a routerLink="/signup">I need an account</a>
        </div>
      </div>

    </form>

    <div class="footer">
      <div class="copyright">Copyright © Selasfora 2017</div>
      <div class="link">
        <a href="" class="right-separator">Contact</a>
        <a href="" class="right-separator">Journal</a>
        <a href="">Shop Charms</a>
      </div>
    </div>
  </div>
</div>
