input[type="email"], input[type="password"] {
  max-width: 423px;
  height: 48px;
  background-color: #ebebeb;
  border: 0;
  width: 100%;
  font-size: 15px;
  line-height: 26px;
  padding: 16px 11px;
  box-sizing: border-box;
  @media only screen and (min-width : 768px) {
    margin-bottom: 32px;
    margin-top: 70px;
  }

  @media only screen and (max-width : 767px) {
    margin-bottom: 44px;
    margin-top: 30px;
  }
}

.page-title {
  font-family: Montserrat;
  line-height: 1;
  text-align: center;
  color: #000000;
  @media only screen and (min-width : 768px) {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 34px;
    margin-top: 75px;
  }
  @media only screen and (max-width : 767px) {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 34px;
    margin-top: 26px;
  }
}

:host {
  text-align: center;
}
.header {
  padding-top: 39px;
  width: 50%;
  margin: auto;
  .back-btn {
    position: absolute;
    left: 100px;
    @media only screen and (max-width : 767px) {
      left: 50px;
    }
    top: 50px;
  }
}

form {
  margin: auto;
  @media only screen and (min-width : 768px) {
    width: 50%;
  }
  @media only screen and (max-width : 767px) {
    width: 70%;
  }
}

.label {
  max-width: 423px;
  width: 100%;
  text-align: left;
  margin: auto;
}

button {
  max-width: 423px;
  width: 100%;
  height: 60px;
  background-color: #272caa;
  color: white;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 25px;
  border: 0;
}

.signup {
  width: 125px;
  height: 26px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #272caa;
  padding-top: 26px;
  padding-bottom: 50px;
  margin: auto;
}

.signin-options {
  &:before {
    border-top: solid 1px #ccc;
    content: ' ';
    width: 100%;
    max-width: 423px;
    height: 10px;
    display: block;
    z-index: -1;
    margin: auto;
    position: relative;
    top: 20px;
  }
  span {
    background-color: white;
    padding: 0 20px;
  }
  .login-icons {
    a {
      text-decoration: none;
      img {
        padding: 20px;
      }
    }
  }
}

.forgot {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.86;
  text-align: right;
  color: #272caa;
  width: 80%;
  display: inline-block;
}
.footer {
  @media only screen and (min-width : 768px) {
    width: 90%;
  }
  @media only screen and (max-width : 767px) {
    width: 100%;
  }
  margin: auto;
  border-top: solid 1px #ccc;
  padding-top: 37px;
  padding-bottom: 30px;
  position: relative;
  .copyright {
    @media only screen and (min-width : 768px) {
      position: absolute;
      top: 30px;
    }
    @media only screen and (max-width : 767px) {
      width: 70%;
      text-align: left;
      margin: auto;
    }
  }

  .link, .link a {
    @media only screen and (min-width : 768px) {
      padding: 0 20px;
    }
    @media only screen and (max-width : 767px) {
      width: 70%;
      text-align: left;
      margin: auto;
    }
  }

  @media only screen and (max-width : 767px) {
    .link a {
      opacity: 0.6;
      font-family: Montserrat;
      font-size: 12px;
      line-height: 2.17;
      color: #000000;
      margin-top: 20px;
      text-decoration: none;
      &:not(:first-child) {
        padding: 0 20px;
      }
      &:first-child {
        padding-right: 20px;
      }
    }
  }

  .right-separator {
    border-right: solid 1px #ccc;
  }
}

.error-msg {
  position: relative;
  top: -25px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.71;
  color: #d91c1c;
  max-width: 423px;
  width: 100%;
  text-align: left;
  margin: auto;
}

.line {
  margin: auto;
  @media only screen and (min-width : 768px) {
    padding-bottom: 167px;
    width: 50%;
  }

  @media only screen and (max-width : 767px) {
    padding-bottom: 40px;
    width: 100%;
  }

}

.group {
  display: inline-block;
  width: 45%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #272caa;
  & > a {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.86;
    text-align: right;
    color: #272caa;
    text-decoration: none;
  }
}
