<div *ngIf="step != 2">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div>
    <h1 class="page-title">{{'FOROGT_PASSWORD_TITLE' | translate}}</h1>

    <div class="intro-content">{{'FORGOT_PASSWORD_SUBTEXT' | translate}}.</div>
    <form [formGroup]="loginForm" novalidate>

      <input type="email" id="email" name="email" class="form-control"
          formControlName="email" placeholder="{{'FORM_INPUT_EMAIL_2' | translate}}">
      <div *ngIf="formErrors.email.length" class="error-msg">
        <div *ngFor="let item of formErrors.email">{{ item | translate }}</div>
      </div>

      <div class="result {{resultClass}}">
        {{resultText || translate}}
      </div>

      <div>
        <button type="button" (click)="onSubmit()" *ngIf="!sent">
          {{'FORGOT_PASSWORD_RESET' | translate}}
        </button>
        <button type="button" (click)="onSubmit()" *ngIf="sent">
          {{'FORGOT_PASSWORD_RESEND' | translate}}
        </button>
      </div>

      <div class="line">
        <div class="group">
          <a routerLink="/login" class="link">{{'FOROGOT_PASSWORD_I_REMEMBER' | translate}}</a>
        </div>
        <div class="group">
          <a routerLink="/signup" class="link">{{'COMMON_GET_ACCOUNT' | translate}}</a>
        </div>
      </div>

    </form>

    
  </div>
</div>

<div *ngIf="step == 2">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div>
    <h1 class="page-title">{{"FOROGT_PASSWORD_TITLE" | translate}}</h1>

    <div class="intro-content">{{'FORGOT_PASSWORD_SUBTEXT' | translate}}</div>
    <form [formGroup]="loginForm" novalidate>

      <input type="password" id="newPass" name="newPass" class="form-control"
          formControlName="newPass" placeholder="{{'FORM_INPUT_NEW_PASSWORD' | translate}}">
      <div class="result {{resultClass}}">
        {{resultText}}
      </div>

      <div>
        <button type="button" (click)="onSubmit()" *ngIf="!sent">
          {{'FORGOT_PASSWORD_SAVE' | translate}}
        </button>
      </div>



    </form>

    
  </div>
</div>
