<div class="header row">
  <app-header page="black"></app-header>
</div>

<div class="row body">
  <div class="col-sm-3 col-sm-offset-1 col-xs-12">
    <div class="title mobile-center">{{ product.title }}</div>
    <div class="price mobile-center">{{ product.variants[0].price }}</div>
    <div class="desc hidden-xs" [innerHtml]="product.body_html">
    </div>
    
    <app-dropdown *ngIf="type=='bracelet'"></app-dropdown>

    <div class="main-btn hidden-xs margin-top-20" (click)="addToCart()">
      + Add to cart
    </div>
    
    <div class="shipping hidden-xs">
      <div class="shipping-title">
        Shipping
      </div>
      <div class="shipping-desc">
        {{ product.variants[0].shipping }}
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-xs-12 mobile-center image-container">
    <img *ngIf="mainImage" src={{mainImage.src}}>
    <img *ngIf="!mainImage && product && product.images && product.images.length > 1" src={{product.images[1].src}}>
    <img *ngIf="!mainImage && product && product.images && product.images.length <= 1" src={{product.images[0].src}}>
  </div>
  <div class="col-xs-12 shipping visible-xs">
    <div class="shipping-title mobile-center">
      Shipping
    </div>
    <div class="shipping-desc mobile-center">
      {{ product.variants[0].shipping }}
    </div>
  </div>
  <div class="col-sm-2">
    <div *ngFor="let img of product.images" class="thumbs">
      <div (click)="switchImage(img)">
        <img src={{img.src}}>
      </div>
    </div>
  </div>
</div>

<div class="suggestion"></div>

<div class="row posts">
  <div class="left col-xs-12 col-sm-6">
    <img src="/assets/images/left-image1.png">
    <div class="content">
      <div class="post-title">Daily Life collection</div>
      <div class="post-body">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn">Shop all charms</div>
    </div>
  </div>
  <div class="right right-charm col-xs-12 col-sm-6" *ngIf="type=='charm'">
    <img src="/assets/images/right-image1.png">
    <div class="content">
      <div class="post-title black">Sprint collection</div>
      <div class="post-body black">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn" [routerLink]="['/catalog/charm']">Shop all charms</div>
    </div>
  </div>
  <div class="right right-bracelet col-xs-12 col-sm-6" *ngIf="type=='bracelet'">
    <img src="/assets/images/right-image2.png">
    <div class="content">
      <div class="post-title">Sprint collection</div>
      <div class="post-body">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn" [routerLink]="['/catalog/charm']">Shop all charms</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
