:host, :host > div {
  background-color: #f5f5f5;
}



.body {
  padding-top: 30px;
  @media only screen and (min-width : 768px) {
    padding-left: 35px;
  }
  @media only screen and (min-width : 768px) {
    min-height: 700px;
  }
  .title {
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #181818;
    padding-bottom: 10px;
  }
  .price {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-align: left;
    color: #272caa;
  }
  .desc {
    font-family: Asar;
    font-size: 17px;
    line-height: 1.65;
    text-align: left;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 35px;
    @media only screen and (max-width : 768px) {
      text-align: center;
    }
  }
  .shipping {
    z-index:1;
    .shipping-title {
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      line-height: 2;
      text-align: left;
      color: #272caa;
      padding-top: 20px;
    }

    .shipping-desc {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 47px;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #999999;
    }
  }
}
.header { display:block; z-index:10;

  padding: 30px 40px;

}

.row {
  margin: 0;
}

.image-container {
  @media only screen and (min-width : 768px) {
    padding-left: 35px;
  }
  text-align: center;
  img {
    max-width: 100%;
  }
}

.thumbs {
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  & > div {
  width: 100px;
  height: 100px;
  border: solid 1px #000;
    display: table-cell;
    vertical-align: middle;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.margin-top-20 {
  margin-top: 20px;
}
.style-guide {
  cursor: pointer;
}

.main-btn {
  @media only screen and (max-width : 768px) {
    margin: 20px auto;
    padding-top: 15px;
  }
}


.posts {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width:768px){
    min-height: 100vh;
    padding-top: 20vh;
  }
  img {
    visibility: hidden;
    width: 100%;
    max-width: 100%;
  }
  .left, .right {
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover!important;
  }
  .content {
    margin-bottom: 37px;
    position: absolute;
    bottom: 0;
  }

  .left:not(.odd), .right:not(.odd){
    .content{
    left:0;
    right:0;
    }
  }
 
  .post-title {
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    padding-bottom: 30px;
  }

  .post-body {
    font-family: Asar;
    font-size: 21px;
    line-height: 1.62;
    color: #ffffff;
    padding-bottom: 35px;
  }

  .btn {
    background-color: #181818;
    @media only screen and (max-width : 767px) {
      padding-top: 15px;
    }
  }
}


@media screen and (min-width:1330px){
  .odd{
    height:100vh;
    .content{
    left:10;
    }
  }
}