<div class="header row">
  <app-header page="black"></app-header>
</div>

<div class="row body">
  <div class="col-md-4 col-md-offset-2 col-xs-12">
    <div class="title mobile-center">Corian Blue</div>
    <div class="price mobile-center">99 EUR</div>
    <div class="desc hidden-xs">
      The Limited-edition
      Paint-splattered Collection is created by set designer Tracy.
    </div>
    <div class="main-btn hidden-xs">+ Add to cart</div>
    <div class="shipping hidden-xs">
      <div class="shipping-title">
        Shipping
      </div>
      <div class="shipping-desc">
        <div>Slit at centre front</div>
        <div>Two large patch pockets</div>
        <div>Triple needle toptitching</div>
        <div>Belt with aluminum buckle</div>
        <div>Cotton canvas</div>
        <div>100% Cotton</div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 mobile-center">
    <img *ngIf="product && product.image" src={{product.image.src}} >
  </div>
  <div class="col-xs-12 shipping visible-xs">
      <div class="shipping-title mobile-center">
        Shipping
      </div>
      <div class="shipping-desc mobile-center">
        <div>Slit at centre front</div>
        <div>Two large patch pockets</div>
        <div>Triple needle toptitching</div>
        <div>Belt with aluminum buckle</div>
        <div>Cotton canvas</div>
        <div>100% Cotton</div>
      </div>
    </div>
</div>

<div class="suggestion"></div>

<div class="row posts">
  <div class="left col-xs-12 col-md-6">
    <img src="/assets/images/left-image1.png">
    <div class="content">
      <div class="post-title">Daily Life collection</div>
      <div class="post-body">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn">Shop all charms</div>
    </div>
  </div>
  <div class="right right-charm col-xs-12 col-md-6" *ngIf="type=='charm'">
    <img src="/assets/images/right-image1.png">
    <div class="content">
      <div class="post-title black">Sprint collection</div>
      <div class="post-body black">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn">Shop all charms</div>
    </div>
  </div>
  <div class="right right-bracelet col-xs-12 col-md-6" *ngIf="type=='bracelet'">
    <img src="/assets/images/right-image2.png">
    <div class="content">
      <div class="post-title">Sprint collection</div>
      <div class="post-body">
        We side with style over fashion,<br>
        think timelessness is underrated
      </div>
      <div class="button btn">Shop all charms</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
