

.container {
  margin-bottom: 50px;
  padding-top: 50px;
  min-height: 100vh;


}

table{
  display: none;
}
  span.s1{
  font-family: Asar!important;
  font-size: 18px;
  line-height: 1.89;
  text-align: left;
  color: #000000;
  }


  .back-btn {
    width: 26px;
    cursor: pointer;
    position: relative;
    /* z-index: 2; */
    top: 100px;
    left: 75px;
  }



