<div *ngIf="!landing" class="hidden-xs">
  <div class="header">
    <app-header page="black" [type]="type"></app-header>
  </div>

  <div class="container body">
    <div class="row">
      <div class="page-title col-sm-12"> {{ pageTitle }} </div>
    </div>
    <div class="row journal-entry" *ngFor="let arr of lists">
      <div *ngFor="let item of arr" class="col-sm-4 item">
        <app-post [item]="item"></app-post>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<div *ngIf="!landing" class="visible-xs">
  <div class="header">
    <app-header page="black" [type]="type"></app-header>
  </div>

  <div class="container body">
    <div class="row">
      <div class="page-title col-xs-12"> {{ pageTitle }} </div>
    </div>
    <div class="row" *ngFor="let item of list">
      <div class="col-xs-12">
        <app-post [item]="item"></app-post>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<div *ngIf="landing" class="landing">

  <div class="container body visible-xs">
    <div class="row" style="margin-bottom: 40px;">
      <h1 class="page-title col-xs-8"> {{ pageTitle }} </h1>
      <a [routerLink]="['/journal']" class="col-xs-4 hidden-xs" style="margin-top: 30px;">All entries</a>
      <a [routerLink]="['/journal']" class="all-entries tertiary-btn visible-xs" style="margin-top: 30px;">All entries</a>
    </div>
    <div class="row" style="overflow: auto;">
      <div style="width: 300%;">
        <div *ngFor="let item of lists[0]" class="col-xs-8" style="float: left; width: 300px;">
          <app-post [item]="item"></app-post>
        </div>
      </div>
    </div>
  </div>
  <div class="container body hidden-xs">
    <div class="row" style="margin-bottom: 40px;">
      <h1 class="page-title col-md-10"> {{ pageTitle }} </h1>
      <a [routerLink]="['/journal']" class="col-md-2" style="margin-top: 30px;">All entries</a>
    </div>
    <div class="row">
      <div class="row journal-entry">
        <div *ngFor="let item of lists[0]" class="col-sm-4 item">
          <app-post [item]="item"></app-post>
        </div>
      </div>
  </div>

</div>
