<div>
  <div class="header">
    <app-header page="black" [type]="type"></app-header>
  </div>

  <div class="container body">
    <div class="row">
      <div class="page-title col-sm-12"> {{ pageTitle }} </div>
    </div>
    <div class="row" style="display: table; padding-bottom: 100px; width: 100%;" *ngFor="let arr of lists">
      <div *ngFor="let item of arr" class="col-sm-4" style="display: table-cell; float: none; vertical-align: bottom;">
        <app-post [item]="item"></app-post>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
