.body {
  min-height: 200px;
  padding-top: 150px;
  @media only screen and (max-width : 767px) {
    padding-top: 50px;
  }
}

.page-title {
  @media only screen and (max-width : 767px) {
    padding-bottom: 50px;
  }
}
