<div id="fb-root"></div>
<meta name="google-signin-client_id" content="{{googleKey}}">

<div>
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div>
    <h1>Login</h1>
    <form [formGroup]="loginForm" novalidate>
      <div class="label">Email</div>
      <input type="email" id="email" name="email" class="form-control"
          formControlName="email">
      <div *ngIf="formErrors.email.length" class="error-msg">
        <div *ngFor="let item of formErrors.email">{{ item }}</div>
      </div>

      <div class="label">
        Password
        <a routerLink="/reset-password" class="forgot">forgot?</a>
      </div>
      <input type="password" id="password" name="password" class="form-control"
          minlength="6" maxlength="25"
          formControlName="password">
      <div *ngIf="formErrors.password.length" class="error-msg">
        <div *ngFor="let item of formErrors.password">{{ item }}</div>
      </div>
      <div class="login-error"></div>
      <div>
        <button type="button" (click)="onSubmit()">Login</button>
      </div>
    </form>

    <div class="signup">
      <a routerLink="/signup" class="signup">I need an account</a>
    </div>

    <div class="signin-options">
      <span>Sign in with</span>
      <div class="login-icons">
        <a class="facebook" (click)="facebook()">
          <img src="/assets/images/icons/facebook.png">
        </a>
        <a class="twitter" (click)="twitter()">
          <img src="/assets/images/icons/twitter.png">
        </a>
        <a class="google">
          <img src="/assets/images/icons/google.png" (click)="signIn('google')">
        </a>
      </div>
    </div>

    <div class="footer">
      <div class="copyright">Copyright © Selasfora 2017</div>
      <div class="link">
        <a href="" class="right-separator">Contact</a>
        <a href="" class="right-separator">Journal</a>
        <a href="">Shop Charms</a>
      </div>
    </div>
  </div>
</div>
