<div id="fb-root"></div>
<meta name="google-signin-client_id" content="{{googleKey}}">

<div *ngIf="!sentConfirmation">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div class="body">
    <h1>{{'LOGIN_GETTNG_STARTED' | translate}}</h1>
    <div class="signin-options">
      <!-- <span>{{'COMMON_SIGNIN_WITH' | translate}}</span> -->
      <div class="login-icons">
        <a class="facebook visible-xs " (click)="facebook()">
          <img src="/assets/images/icons/facebook.png">
        </a>

        <a class="facebook hidden-xs" (click)="facebook()">
          LOGIN WITH FACEBOOK
        </a>
        <!--  <a class="twitter" (click)="twitter()">
          <img src="/assets/images/icons/twitter.png">
        </a> -->
        <a class="google visible-xs ">
          <img src="/assets/images/icons/google.png" (click)="signIn('google')">
        </a>

        <a class="google hidden-xs">
          LOGIN WITH GOOGLE
        </a>
      </div>
    </div>

    <div class="row padding">
      <div class="col-md-6 col-xs-12">
        <h1>{{'COMMON_LOGIN_EMAIL' | translate}}</h1>
        <form [formGroup]="loginForm" novalidate>
          <label>Email</label>
          <input type="email" id="email" name="email" class="form-control" formControlName="email">
          <div *ngIf="formErrors.email.length" class="error-msg">
            <div>{{ formErrors.email[0] | translate }}</div>
          </div>

          <label>
            Password
            <a routerLink="/password-reset" class="forgot">{{'COMMON_FORGOT_PASSWORD' | translate}}</a>
          </label>
          <input type="password" id="password" name="password" class="form-control" minlength="8" maxlength="25" formControlName="password">
          <div *ngIf="formErrors.password.length" class="error-msg">
            <div>{{ formErrors.password[0] | translate }}</div>
          </div>
          <div class="login-error"></div>
          <div>
            <button type="submit" (click)="onSubmit()">{{'COMMON_LOGIN' | translate }}</button>
          </div>
        </form>
      </div>

      <div class="col-md-6 col-xs-12 grey-border">
          <h1>{{'COMMON_SIGNUP_EMAIL' | translate}}</h1>
          <form [formGroup]="signupForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <label>First name</label>
                <input type="text" id="fname" name="fname" class="form-control"
                    formControlName="fname">
                <div *ngIf="signupFormErrors.fname.length" class="error-msg">
                  <div >{{ signupFormErrors.fname[0] | translate }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label>Last name</label>
                <input type="text" id="lname" name="lname" class="form-control"
                    formControlName="lname">
                <div *ngIf="signupFormErrors.lname.length" class="error-msg">
                  <div >{{ signupFormErrors.lname[0] |translate }}</div>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-md-12">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control"
                    formControlName="email">
                <div *ngIf="signupFormErrors.email.length" class="error-msg">
                  <div >{{ signupFormErrors.email[0] | translate }}</div>
                </div>
              </div>
            </div>
      
      
            <div class="row">
              <div class="col-md-12">
                <label for="password">
                  Password
                </label>
                <input type="password" id="password" name="password" class="form-control"
                    minlength="8" maxlength="25"
                    formControlName="password">
                <div *ngIf="signupFormErrors.password.length" class="error-msg">
                  <div >{{ signupFormErrors.password[0] |translate }}</div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="password2">
                  Re-enter Your Password
                </label>
                <input type="password" id="password2" name="password2" class="form-control"
                    minlength="8" maxlength="25"
                    formControlName="password2">
                    <div *ngIf="signupFormErrors.password2.length" class="error-msg">
                      <div >{{ signupFormErrors.password2[0] | translate }}</div>
                    </div>
              </div>
            </div>
            <div class="signup-error" *ngIf="errorMessage">{{errorMessage}}</div>
            <div>
              <button type="submit" (click)="onSubmitSignup()">{{ 'COMMON_SIGNUP' | translate}}</button>
            </div>
          </form>
      </div>
    </div>




    
  </div>
</div>


<div *ngIf="sentConfirmation">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div class="confirmation">
    <img src="/assets/images/email-icon.png">
    <h2>{{'SIGNUP_NEXT_STEP' | translate }}</h2>
    <div class="confirmation-text">
      {{'SIGNUP_SUCCESS' | translate}}
    </div>
    <div class="link">{{signupForm.value.email}}</div>
    <button (click)="resend()">{{'SIGNUP_RESEND_EMAIL' | translate}}</button>
    <div>
      <a href="" class="return-link">{{'SIGNUP_RETURN' | translate}}</a>
    </div>
  </div>
  
</div>