<div class="side-menu" [ngClass]="{'out': menuHidden && menuStatus}">
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <ul>
    <li class="header" *ngIf="!isLoggedIn">
      <a (click)="login()">
        {{'MENU_LOGIN' | translate}}
      </a>
    </li>

    <li class="header" *ngIf="isLoggedIn">
      <a routerLink="/profile">
        {{'MENU_GREETING' | translate}} {{ user.name }} !
        <br>
        <span class="profile-link">{{ 'MENU_YOUR_PROFILE' | translate }} ></span>
      </a>
    </li>

    <li class="link">
      <a routerLink="/catalog/bracelet">
        {{'MENU_BRACELETS' | translate}}
      </a>
    </li>

    <li class="link">
      <a routerLink="/catalog/charm">
        {{'MENU_CHARMS' | translate}}
      </a>
    </li>

    <li class="link">
      <a  routerLink='/mixmatch' [queryParams]="{step:1}"> <!-- (click)="empty()" -->
        {{'MENU_CREATE_YOURS'| translate}}
      </a>
    </li>

    <li class="link">
      <a routerLink="/journal">
        {{'MENU_JOURNAL' | translate}}
      </a>
    </li>

    <li class="link">
      <a routerLink="/about">
        {{'MENU_ABOUT' | translate}}
      </a>
    </li>

    <li class="link">
      <a routerLink="/contact">
        {{'MENU_CONTACT' | translate}}
      </a>
    </li>

    <li class="link" *ngIf="isLoggedIn">
      <a (click)="logout(user)">
        {{'MENU_LOGOUT' | translate}}
      </a>
    </li>
  </ul>
  <a href="{{checkoutUrl}}" target="_blank" class="cart-link">
  <div class="cart">
    <div class="col-xs-2">
      <img src="/assets/images/cart-count.png">
      <div class="number">
        {{ cartCount.count }}
      </div>
    </div>

    <div class="col-xs-8">
      <div>{{ cartCount.count }} {{'MENU_ITEMS_IN_CART' | translate}}</div>
      <div><strong>{{ cartCount.price }}</strong></div>
    </div>

    <div class="col-xs-1">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  </a>
</div>
