<div class="side-menu"  [ngClass]="{'out': !menuStatus}">
  
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <img src="/assets/images/sizelogo.png" alt="">
  <div class="title">
    {{'SIZE_TITLE' | translate}}
  </div>
  <div class="subtitle">
    {{'SIZE_SUBTEXT_1' | translate}}
  </div>
  <div class="subtext">
   {{'SIZE_SUBTEXT_2' | translate}}
    <p style="padding-top: 20px;">
     {{'SIZE_SUBTEXT_3' | translate}}
    </p>
  </div>
  <ul>
    <li class="link">
      <div>
       <div class="large-text">XXSmall</div>
       <div class="small-text">16 cm or 6.3 in</div>
      </div>
    </li>

    <li class="link">
      <div>
       <div class="large-text">XSmall</div>
       <div class="small-text">17 cm or 6.7 in</div>
      </div>
    </li>
    <li class="link">
      <div>
       <div class="large-text">Small</div>
       <div class="small-text">18 cm or 7.1 in</div>
      </div>
    </li>
    <li class="link">
      <div>
       <div class="large-text">Medium</div>
       <div class="small-text">19 cm or 7.5 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">Large</div>
        <div class="small-text">20 cm or 7.9 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">XLarge</div>
        <div class="small-text">21 cm or 8.3 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">XXLarge</div>
        <div class="small-text">23 cm or 9.1 in</div>
      </div>
    </li>
  </ul>
</div>
