<div class="side-menu"  [ngClass]="{'out': !menuStatus}">
  
  <div class="close">
    <a (click)="close()">x</a>
  </div>
  <img src="/assets/images/sizelogo.png" alt="">
  <div class="title">
    Size guide
  </div>
  <div class="subtitle">
    A bracelet should sit snugly on the wrist and not slide up and down.
  </div>
  <div class="subtext">
    To measure your bracelet size, hold out your hand with your thumb outstretched and aligned with your other fingers. Using a measuring tape or even a strip of paper, measure your hand circumference.
    <p style="padding-top: 20px;">
      Recommended to wear 15 - 20 charms
      regardless of bracelet length.
    </p>
  </div>
  <ul>
    <li class="link">
      <div>
       <div class="large-text">XXSmall</div>
       <div class="small-text">16 cm or 6.3 in</div>
      </div>
    </li>

    <li class="link">
      <div>
       <div class="large-text">XSmall</div>
       <div class="small-text">17 cm or 6.7 in</div>
      </div>
    </li>
    <li class="link">
      <div>
       <div class="large-text">Small</div>
       <div class="small-text">18 cm or 7.1 in</div>
      </div>
    </li>
    <li class="link">
      <div>
       <div class="large-text">Medium</div>
       <div class="small-text">19 cm or 7.5 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">Large</div>
        <div class="small-text">20 cm or 7.9 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">XLarge</div>
        <div class="small-text">21 cm or 8.3 in</div>
      </div>
    </li>
    <li class="link">
      <div>
        <div class="large-text">XXLarge</div>
        <div class="small-text">23 cm or 9.1 in</div>
      </div>
    </li>
  </ul>
</div>
