.drawContainer, .charm-container {
  position: relative;
  background: #ccc;
  min-width: 500px;
  min-height: 200px;
}
.bracelet {
  border-top: solid 1px #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1;
}

.charm {
  border: solid 1px black;
  border-radius: 5px;
  background: white;
  display: inline-block;
  width: 50px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.store {
  width: 200px;
  min-height: 100px;
  background: blanchedalmond;
}