<ng2-slim-loading-bar [color]="'#272caa'" [height]="'4px'"></ng2-slim-loading-bar>

<div *ngIf="step == 1">
  <div class="header row margin0">
    <app-header page="mixmatch" [type]="type" [filter]="type == 'charm'"></app-header>
  </div>
  <app-catalog [type]="'bracelet'" [mode]="'slide'" showCollections=false canAddToCart=false hideMainHeader="true"></app-catalog>
</div>

<div *ngIf="step == 2">
  <div class="header row margin0">
    <app-header page="mixmatch" [type]="type" [filter]="type == 'charm'"></app-header>
  </div>
  <app-catalog [type]="'charm'" [mode]="'slide'" showCollections=false canAddToCart=false hideMainHeader="true"></app-catalog>
</div>

<div *ngIf="step == 3">
  <div class="header row margin0">
    <app-header page="mixmatch" [type]="type" [filter]="type == 'charm'"></app-header>
  </div>
  <div class="body">
     <div class="empty-charm-container" [dragula]='"bag-charms"' [dragulaModel]='emptyCharms'>
          <div class="charm" *ngFor="let charm of emptyCharms; let i=index;">
            <img [attr.src]="charm.img[1].src" alt="">
          </div>
        </div>
    <div class="col-xs-10 col-xs-offset-1 drawContainer">
      <div class="bracelet" [ngStyle]="{'background':bracelet,'background-size':'contain'}" >
        <div class="charm-container" [dragula]='"bag-charms"' [dragulaModel]='usedCharms'>
          <div class="charm" *ngFor="let charm of usedCharms; let i=index;">
            <img [attr.src]="charm.img[1].src" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a (click)="checkout()" class="secondary-btn">Review order & Checkout</a>
    </div>
  </div>

  <div class="store {{highlightStore && 'highlight'}}" [dragula]='"bag-charms"' [dragulaModel]='emptyCharms'>
    <div class="charm" *ngFor="let charm of emptyCharms; let i=index;">
      <img src="{{charm.img[0].src}}" alt="">
    </div>
  </div>
</div>