.body {
  background: #f5f5f5;
  position: absolute;
  top: 150px;
  bottom: 0;
  width: 100%;
  .drawContainer {
    position: relative;
  }
}

.bracelet {
  width: 629px;
  min-height: 440px;
 // background: url(/assets/images/mask.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  margin-top: 80px;
}

.charm {
  width: 50px;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  z-index: 2;
  position: relative;
  img {
    width: 100%;
    max-width: 100px;
  }
}
.charm-container {
  position: relative;
    top: 120px;
    width: 550px;
    height: 200px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .charm{width:90px}
    .c1{
      flex:1;

      .charm{
        &:last-child:only-child{top: 90px;}
        &:last-child(:nth-child(2)){
          top:0;
        }
        &:nth-child(2):not(:last-child){
             top: -30px;
             left: -40px;
        }
        &:first-child:not(:only-child){
              top: 20px;
        }
        &:nth-child(3){
          top:-90px;
        }
      }

    }


    .c2{
      flex:2;

         .charm {
           top:100px;
    display: inline-block;
    &:last-child:not(:only-child) {
      transform: rotate(180deg);
      position: relative;
      left: 15px;
      &:nth-child(3){
     left: 130px;
    margin-left: -80px;
      }
      
    }
    &:first-child:not(:only-child):not(:last-child) {
      //transform: rotate(10deg);
      position: relative;
     position: relative;
         left: -140px;
    margin-right: -145px;
   
    }
    &:not(:first-child):not(:last-child) {
     // transform: rotate(-6deg);
      position: relative;
      left:3vw;
    }
    
  }
      
    }

    .c3{
      flex:1;

      .charm{
        &:first-child:not(:last-child){
          transform: rotate(180deg);
          top:20px;
        }
        &:last-child{  
          top: 90px;
         left: -16px;  
        transform: rotate(180deg);}
        &:last-child:not(:only-child){
          top: 0px;
        }
        &:nth-child(2):not(:last-child){
            transform: rotate(180deg);
                left: 20px;

    top: -30px;
        }
        &:nth-child(3){
              top: -84px!important;
        }
      }
    }

    .c1,.c2,.c3{
      height:100%;
      display: block;
    }

  background: transparent;
  text-align: center;




}

.store {
  width: 100px;
  min-height: 440px;
  position: absolute;
  left: 20px;
  top: 220px;
  border-radius: 25px;
  .charm {
    display: block;  
  }
  &.highlight {
    box-shadow: 0px 0px 15px #ccc;
  }
}

.header {
  width: 100%;

  @media only screen and (min-width : 768px) {
    height: 150px;
  }
  @media only screen and (max-width : 767px) {
    height: 160px;
  }
  padding: 30px 40px;
  box-sizing: border-box;
}

.secondary-btn {
  &:hover {
    color: white;
    text-decoration: none;
  }
  padding: 22px 40px;
  margin-top: 100px;
}


/** make the mixmatch items fit in all screens **/
@media only screen and (min-width:320px) and (max-width:480px) {

  
}

@media only screen and (min-width:736px) and (max-width:760px) {

  
}

@media only screen and (min-width:768px) and (max-width:800px) {

  
}

div.store{
  display: none;
}

.empty-charm-container {
    width: 10vw;
    min-height: 30vh;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    margin-top: 10vh;
    margin-left: 1em;
}

.well{
  width:30vw;
  margin:10vh auto;
  text-align: center;
}



/** 16 charms css **/ 

.debug{
    //  border:1px solid black;
}