<ng2-slim-loading-bar [color]="'#272caa'" [height]="'4px'" *ngIf="!hideheader"></ng2-slim-loading-bar>
<div>
<div class="header row" *ngIf="!hideheader">
  <app-header page="black" [type]="type" [filter]="showFilter" [showFilterIcon]="showFilter" ></app-header>
</div>

  <div class="v-align">
    <div class="c-align">

      <h1 class="cart-title">your cart</h1>
      <div class="empty-cart" *ngIf="orderItems.length == 0 ">
        <p class="message">your cart is empty</p>
        <button [routerLink]="['/']" class="cart-action">Contine shopping</button>
      </div>


      <div class="cart-contents" *ngIf="orderItems.length >=1">
       <!-- ordered items -->
  <div class="order-items-container row" >
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 order-item" *ngFor="let item of orderItems">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <img [src]="item.p_image? item.p_image:null"/>
        </div>
        <div class="col-md-8 col-xs-8">
          <h4 class="item-title">{{item.p_title}} <span>({{item.v_title}})</span></h4>
          <div class="row">
              <div class="col-md-9 col-xs-9">
                  <table class="item-description">
                    <tr>
                      <th>Quantity</th><th>Price</th>
                    </tr>
                    <tr><td>x{{item.quantity}}</td><td>{{item.price}}</td></tr>
                  </table>
              </div>
              <div class="col-md-3 col-xs-3 reorder">
                <a (click)="removeItem(item)">remove</a>
              </div>
          </div>
        </div>
      </div>
    </div>


  </div>

        <button [routerLink]="['/']" class="cart-action" >Contine shopping</button>
        <button (click)="checkout()" class="cart-action" >Check out</button>
      </div>

    </div>
  </div>

</div>  