<div [routerLink]="['/article/' + item.id]">

  <div class="tags">
    <span class="tag">{{ item.tags }}</span> - {{ item.published_at | date: 'dd MMM' }}
  </div>

  <div class="image">
    <img *ngIf="item.image" src="{{ item.image.src }}" style="max-width: 100%;">
  </div>

  <div class="title">
    {{ item.title }}
  </div>

  <div class="desc show-on-hover" [innerHTML]="item.summary_html | trustHtml">
  </div>

  <a class="desc show-on-hover hidden-xs" [routerLink]="['/article/' + item.id]">
    See more <i class="fa fa-arrow-right" style="padding-left: 20px;"></i>
  </a>
</div>
