<div [routerLink]="['/article/' + item.id + '/' + item.id]">

  <div class="tags">
    {{ item.tags }} - {{ item.published_at | date: 'dd/MM/yyyy' }}
  </div>

  <div class="image">
    <img *ngIf="item.image" src="{{ item.image.src }}" style="max-width: 100%;">
  </div>

  <div class="title">
    {{ item.title }}<!-- <br>
    {{ item.author }} -->
  </div>

  <div class="desc show-on-hover hidden-xs" [innerHTML]="item.summary_html">
  </div>

  <a class="show-on-hover hidden-xs" [routerLink]="['/article/' + item.id]">
    See more <i class="fa fa-arrow-right" style="padding-left: 20px;"></i>
  </a>
</div>
