
.title {
  position: relative;
  top: -59px;
  background: white;
  display: inline-block;
  padding: 20px;
  max-width: 70%;
  text-align: center;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: left;
  color: #000000;
}

.show-on-hover {
  display: inline-block;
  padding: 20px 0;
  color: black;
}
.desc {
  position: relative;
  top: -59px;
  height: 130px;
    font-family: Asar;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #000000;
}

.tags {
  padding-bottom: 20px;
  .tag {
    color: #272caa;
    font-weight: bold;
  }
}
