<ng2-slim-loading-bar [color]="'#272caa'" [height]="'4px'" *ngIf="!hideheader"></ng2-slim-loading-bar>

<div>
  <div class="header row margin0" *ngIf="!hideheader">
    <app-header page="black" [type]="type" [filter]="type == 'charm'" [showFilterIcon]="showFilter" ></app-header>
  </div>

  <div *ngIf="(showCollections && type =='charm') || (!showCollections && type=='bracelet') || (showCollections && type=='bracelet')" class="col-md-offset-1 col-md-10 body row ">
    <div class="page-title" *ngIf="pageTitle && !hideheader"> {{ pageTitle }} </div>
    <!-- [class.container]="mode != 'grid'" -->
    <div  [ngClass]="{'p-b-400': type == 'bracelet' && mode != 'grid', 'dragscroll': mode == 'slide'}" #slideContainer>
      <div class="hidden-xs" [class.row]="mode == 'grid'" [class.slide-container]="mode != 'grid'" [style.width]="slideContainerWidth" >
        <div *ngFor="let item of list" class="product-container">
          <app-product [item]="item" [mode]="mode" [canAddToCart]="canAddToCart" [isMixMatch]="isMixMatch" ></app-product>
        </div>
      </div>

      <div class="row visible-xs hidden-md product-container" >
        <app-product [item]="item" [mode]="mode" [canAddToCart]="canAddToCart" *ngFor="let item of list" [isMixMatch]="isMixMatch" ></app-product>
      </div>
      <div *ngIf="!list.length" class="well well-warning">
        {{'CATALOG_NO_PRODUCTS' | translate}}
      </div>
    </div>


    <div class="text-center" *ngIf="type=='charm' && list.length">
      <a  (click)="switchMode($event)" class="mode-change">
        {{'CATALOG_BROWSE' | translate}} 
      </a>

      <a (click)="gotoMixMatch()" class="secondary-btn next" *ngIf="isMixMatch">
        {{'CATALOG_NEXT' | translate}}
      </a>
    </div>
  </div>
  <!-- todo : add translations for colelctions -->
  <div class="posts row margin0" *ngIf="!collectionSelected && collections" >
    <div [ngClass]=" (i== 0 && i%3 == 0 )?   'left col-xs-12 col-md-12 odd' : 'right right-charm col-xs-12 col-md-6'" *ngFor="let collection of collections; let i = index"  >
      <img src="/assets/images/left-image1.png">
      <div class="content">
        <div class="post-title">{{collection.title}}</div>
        <div class="post-body" [innerHTML]="collection.body_html">
      
        </div>
        <div class="button btn" [routerLink]="['/catalog/charm']" [queryParams]="{'collection':collection.handle}">Shop all {{type}}s</div>
      </div>
    </div>

    <!--
    <div class="right right-charm col-xs-12 col-md-6" *ngIf="type=='charm'" >
      <img src="/assets/images/right-image1.png">
      <div class="content">
        <div class="post-title black">Sprint collection</div>
        <div class="post-body black">
          We side with style over fashion,<br> think timelessness is underrated
        </div>
        <div class="button btn"  [routerLink]="['/catalog/charm']" [queryParams]="{'collection':1}" >Shop all charms</div>
      </div>
    </div>

    <div class="right right-bracelet col-xs-12 col-md-6" *ngIf="type=='charm'">
      <img src="/assets/images/right-image2.png">
      <div class="content">
        <div class="post-title">Sprint collection</div>
        <div class="post-body">
          We side with style over fashion,<br> think timelessness is underrated
        </div>
        <div class="button btn" [routerLink]="['/catalog/bracelet']" [queryParams]="{'collection':1}" >Shop all bracelets</div>
      </div>
    </div>

  -->
  </div>

  <div class="row margin0" >
    <app-footer></app-footer>
  </div>
</div>