
:host, :host > div {
  background-color: #f5f5f5;
}



.body {
  min-height: 100vh;
  background-color: #f5f5f5;
  clear: both;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  padding-top:0;

  .page-title {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 600;
    line-height: 1;
    color: #181818;
    padding: 30px;
    @media screen and (max-width:768px) {
      font-size:23px;
      
    }
  }

  .container {
    width: 150%;
    white-space: nowrap;
    overflow: auto
  }
}

.posts {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width:768px){
    min-height: 100vh;
    padding-top: 20vh;
  }
  img {
    visibility: hidden;
    width: 100%;
    max-width: 100%;
  }
  .left, .right {
    text-align: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover!important;
  }
  .content {
    margin-bottom: 37px;
    position: absolute;
    bottom: 0;
  }

  .left:not(.odd), .right:not(.odd){
    .content{
    left:0;
    right:0;
    }
  }
 
  .post-title {
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    padding-bottom: 30px;
  }

  .post-body {
    font-family: Asar;
    font-size: 21px;
    line-height: 1.62;
    color: #ffffff;
    padding-bottom: 35px;
  }

  .btn {
    background-color: #181818;
    @media only screen and (max-width : 767px) {
      padding-top: 15px;
    }
  }
}

.black {
  color: black !important;
}

.secondary-btn:hover {
  color: white;
  text-decoration: none;
}

.slide-container {
  width: 3000px;
  & > div {
    float: left;
    max-width: 350px;
  }
}

.mode-change {
  cursor: pointer;
  display: block;
  margin-bottom: 50px;
  color: black;
}

.p-b-400 {
  padding-bottom: 400px;
}


/*app-product.col-xs-6{
  clear:both;
}*/

.secondary-btn.next{
  margin-bottom:5em;
}

@media screen and (min-width:1330px){
  .odd{
    height:100vh;
    .content{
    left:10;
    }
  }
}

.product-container{
  margin-top:20vh;
  margin-bottom: -20vh;
  app-product{
    min-width:20vw;
  }
}


.well{
  display: block;
  margin-top:30vh;
}

.dragscroll{
  cursor: pointer;
  overflow-x:  hidden;
 
}

@media screen  and (max-width:800px){
  .dragscroll {
    overflow-x: auto
  }
}

