<div *ngIf="!sentConfirmation">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div>
    <h1>Signup with email</h1>
    <form [formGroup]="signupForm" novalidate>
      <div class="line">
        <div class="group">
          <div class="label">First name</div>
          <input type="text" id="fname" name="fname" class="form-control"
              formControlName="fname" (blur)="onBlur('fname')">
          <div *ngIf="formErrors.fname.length" class="error-msg">
            <div *ngFor="let item of formErrors.fname">{{ item }}</div>
          </div>
        </div>
        <div class="group">
          <div class="label">Last name</div>
          <input type="text" id="lname" name="lname" class="form-control"
              formControlName="lname" (blur)="onBlur('lname')">
          <div *ngIf="formErrors.lname.length" class="error-msg">
            <div *ngFor="let item of formErrors.lname">{{ item }}</div>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="group">
          <div class="label">Email</div>
          <input type="email" id="email" name="email" class="form-control"
              formControlName="email" (blur)="onBlur('email')">
          <div *ngIf="formErrors.email.length" class="error-msg">
            <div *ngFor="let item of formErrors.email">{{ item }}</div>
          </div>
        </div>
        <div class="group">
          <div class="label">Repeat email</div>
          <input type="email" id="email2" name="email2" class="form-control"
              formControlName="email2" (blur)="onBlur('email2')">
        </div>
      </div>

      <div class="special-line">
        <div class="group">
          <div class="label">
            Phone Number
          </div>
          <input type="number" id="phone" name="phone" class="form-control"
              minlength="8" maxlength="15"
              formControlName="phone" (blur)="onBlur('phone')">
          <div *ngIf="formErrors.phone.length" class="error-msg">
            <div *ngFor="let item of formErrors.phone">{{ item }}</div>
          </div>
        </div>
      </div>

      <div class="line">
        <div class="group">
          <div class="label">
            Password
          </div>
          <input type="password" id="password" name="password" class="form-control"
              minlength="8" maxlength="25"
              formControlName="password" (blur)="onBlur('password')">
          <div *ngIf="formErrors.password.length" class="error-msg">
            <div *ngFor="let item of formErrors.password">{{ item }}</div>
          </div>
        </div>
        <div class="group">
          <div class="label">
            Repeat Password
          </div>
          <input type="password" id="password2" name="password2" class="form-control"
              minlength="8" maxlength="15"
              formControlName="password2" (blur)="onBlur('password2')">
        </div>
      </div>
      <div class="signup-error" *ngIf="errorMessage">{{errorMessage}}</div>
      <div>
        <button type="button" (click)="onSubmit()">Sign up</button>
      </div>
    </form>

    <div class="footer">
      <div class="copyright">Copyright © Selasfora 2017</div>
      <div class="link">
        <a href="" class="right-separator">Contact</a>
        <a href="" class="right-separator">Journal</a>
        <a href="">Shop Charms</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="sentConfirmation">
  <div class="header">
    <img src="/assets/images/icons/back.png" class="back-btn" (click)="backClick()">
    <a routerLink="/">
      <img src="/assets/images/logo-black.png">
    </a>
  </div>
  <div class="confirmation">
    <img src="/assets/images/email-icon.png">
    <h2>Just one more step...</h2>
    <div class="confirmation-text">
      Your information has been sent successfully. In order to complete your registration, please click the confirmation link in the email that we have sent to you.
    </div>
    <div class="link">{{signupForm.value.email}}</div>
    <button>Resend email</button>
    <div>
      <a href="" class="return-link">Return to shopping</a>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">Copyright © Selasfora 2017</div>
    <div class="link">
      <a href="" class="right-separator">Contact</a>
      <a href="" class="right-separator">Journal</a>
      <a href="">Shop Charms</a>
    </div>
  </div>
</div>
