<div  *ngIf="_mode === 'grid'">
  <div class="image">
    <img *ngIf="item.images.length > 1" src="{{ item.images[0].src }}">
    <img *ngIf="item.images.length < 2 && item.images" src="{{ item.images[0].src }}">
  </div>

  <div class="title">
    {{ item.title }}
  </div>

  <div class="desc show-on-hover hidden-xs" [innerHTML]="item.body_html">
  </div>

  <div class="price"> {{ item.variants[0].price || '89 EUR' }}</div>

  <a class="tetiary-btn show-on-hover hidden-xs" [routerLink]="['/catalog/' + item.product_type + '/' + item.id]" *ngIf="!isMixMatch">
    {{'COMMON_SEE_DETAILS' | translate}}
  </a>


  <a class="main-btn show-on-hover hidden-xs"
  *ngIf="item.product_type == 'charm' && isMixMatch"
  (click)="addToCart(item)">
 {{'COMMON_ADD_TO_CART' | translate}}
</a>

<a class="main-btn show-on-hover hidden-xs"
*ngIf="item.product_type == 'bracelet' && isMixMatch"
[routerLink]="isMixMatch? ['/mixmatch'] : ['/catalog/charm']" [queryParams]=" isMixMatch ? {step:2}: null"
(click)="selectContinue(item)">
+ {{'COMMON_SELECT_AND_CONTINUE' | translate}}
</a>

</div>
<!-- [routerLink]="['/catalog/' + item.product_type + '/' + item.id]"  -->
<div *ngIf="_mode !== 'grid'">
  <div class="image slide-image">
    <img *ngIf="item.images.length > 1" src="{{ item.images[0].src }}">
    <img *ngIf="item.images.length < 2 && item.images" src="{{ item.images[0].src }}">
  </div>
  <div class="content">
    <div class="title">
      {{ item.title }}
    </div>

    <div class="desc show-on-hover hidden-xs" [innerHTML]="item.body_html">
    </div>

    <div class="price"> {{ item.variants[0].price || '89 EUR' }}</div>

    <a class="main-btn show-on-hover hidden-xs"
       *ngIf="item.product_type == 'bracelet' && isMixMatch"
       [routerLink]="isMixMatch? ['/mixmatch'] : ['/catalog/charm']" [queryParams]=" isMixMatch ? {step:2}: null"
       (click)="selectContinue(item)">
      + {{'COMMON_SELECT_AND_CONTINUE' | translate}}
    </a>



    <a class="tetiary-btn show-on-hover hidden-xs" [routerLink]="['/catalog/' + item.product_type + '/' + item.id]"  *ngIf="!isMixMatch">
      {{'COMMON_SEE_DETAILS' | translate}}
    </a>

    <a class="main-btn show-on-hover hidden-xs"
       *ngIf="item.product_type == 'charm' && isMixMatch  "
       (click)="addToCart(item)">
      {{'COMMON_ADD_TO_CART' | translate}}
    </a>
  </div>
</div>
