:host {
  display: inline-flex;
  text-align: center;
  padding: 20px;
  transition: all 700ms linear;
  @media only screen and (min-width : 768px) {
    height: auto;
    min-height: 70vh;
  }
  &:hover {
    .show-on-hover {
      opacity: 1;
      height: auto;
      max-width: 100%;
    }
  }
  & > div {
    width: 100%;
  }
}
:host(.charm) {
  @media only screen and (min-width : 768px) {
    /*width: 30%;
    max-width: 300px;*/
    min-height: 600px;
  }
  @media only screen and (max-width : 767px) {
    /*width: 50%;
    max-width: 50%;*/
    float: left;
    box-sizing: border-box;
    min-height: 350px;
  }
}

:host(.bracelet) {
  @media only screen and (min-width : 768px) {
    /*width: 50%;
    max-width: 500px;*/
    min-height: 350px;
  }
  @media only screen and (max-width : 767px) {
    /*width: 80%;
    max-width: 80%;*/
    box-sizing: border-box;
    min-height: 350px;
  }
}

.show-on-hover {
  transition: all 200ms linear;
  opacity: 0;
  @media only screen and (max-width : 768px) {
    display:inline-block!important;
    opacity: 1;
  }
}

.image {
  // &.slide-image img {
  //   width: 100px;
  // }
  height: 40vh;
  img{
    height:inherit;
  }
  &:not(.slide-image) {
    img {
      max-width: 100%;
     
    }
    img.slide-image {
      width: 126px;
   
    }
  }
}

.content {
  position: relative;
  //top: -100px;
}

.title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  padding-top: 15px;
  padding-bottom: 10px;
}

.desc {
  font-family: Asar;
  font-size: 17px;
  line-height: 1.65;
  text-align: center;
  color: #000000;
  padding-bottom: 15px;
}

.price {
  opacity: 0.35;
  font-family: Montserrat;
  font-size: 17px;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}

.tetiary-btn {
  text-transform: uppercase;
  @media only screen and (min-width: 768px) {
    padding: 21px 50px;
    width: 230px;
    box-sizing: border-box;
    max-width: 100%;
  }
}

.main-btn:hover {
  color: white;
}

.main-btin{
    @media only screen and (max-width: 768px) {
      display:none;
  }
}