:host {
  float: left;
  color: white;
  padding: 0 20px;
  cursor: pointer;
}

.icon-image {
  width: 20px;
  height: 16px;
}

.icon-title {
  padding-top: 10px;
  font-family: Montserrat;
  font-size: 11px;
}

.black {
  color: black;
}

.fix-indent {
  padding-left: 6px;
}
