<div class="header">
  <div class="bar">
    <app-header page="black"></app-header>
    <div class="content">
      <h1 class="title">{{'MENU_GREETING' | translate }} {{user.first_name}}</h1>
      <div class="link">
        <a href="" (click)="logout()">{{'PROFILE_LOGOUT' | translate}}</a>
      </div>
    </div>
  </div>
  <img src="/assets/images/profile.png" alt="profile">
</div>
<div class="container">
  <div class="row">
    <div class="panel-group col-xs-12 col-sm-8 col-sm-offset-2" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a role="button" data-toggle="collapse" (click)="flipArrow(0)" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <h4 class="panel-title">
              {{'PROFILE_MY_DETAILS' | translate}}
              <i class="fa fa-chevron-{{arrows[0]}} pull-right"></i>
            </h4>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div>
              <form [formGroup]="profileForm" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <label>{{'FORM_INPUT_FIRST_NAME' | translate}}</label>
                    <input type="text" id="fname" name="fname" class="form-control" formControlName="fname">
                    <div *ngIf="formErrors.fname.length" class="error-msg">
                      <div *ngFor="let item of formErrors.fname">{{ item |translate }}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>{{'FORM_INPUT_LAST_NAME' | translate}}</label>
                    <input type="text" id="lname" name="lname" class="form-control" formControlName="lname">
                    <div *ngIf="formErrors.lname.length" class="error-msg">
                      <div *ngFor="let item of formErrors.lname">{{ item |translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="email">{{'FORM_INPUT_EMAIL' | translate}}</label>
                    <input type="email" id="email" name="email" class="form-control" formControlName="email">
                    <div *ngIf="formErrors.email.length" class="error-msg">
                      <div>{{ formErrors.email[0] | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="password">
                      {{'PROFILE_RESET_PASSWORD' | translate}}
                    </label>
                    <input type="password" id="password" name="password" class="form-control" minlength="8" maxlength="25" formControlName="password">
                    <div *ngIf="formErrors.password.length" class="error-msg">
                      <div *ngFor="let item of formErrors.password">{{ item |translate }}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="dob">
                      {{'FORM_INPUT_DOB' | translate}}
                    </label>
                    <span> (DD/MM/YYYY)</span>
                    <ng-datepicker [options]="options" id="dob" name="dob" [(ngModel)]="dob" class="form-control" min='1899-01-01' max='2000-13-13' formControlName="dob">
                    </ng-datepicker>
                    <div *ngIf="formSubmitted && profileForm.get('dob').errors" class="error-msg">
                      <div *ngIf="formSubmitted && profileForm.get('dob').errors.required">{{'ERROR_DOB_REQUIRED' | translate}}</div>
                    </div>
                    <div *ngIf="formSubmitted && formErrors.dob.length" class="error-msg">
                      <div>{{formErrors.dob[0]}}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="gender">
                      {{'FORM_INPUT_GENDER' | translate}}
                    </label>
                    <app-dropdown [itemList]="genderList" [isForm]=true (itemChange)="setGender($event)" [selectedItem]="user.gender">
                    </app-dropdown>
                    <div *ngIf="formErrors.gender.length" class="error-msg">
                      <div *ngFor="let item of formErrors.gender">{{ item |translate }}</div>
                    </div>
                  </div>
                </div>
                <div class="signup-error" *ngIf="errorMessage">{{errorMessage | translate}}</div>
                <div>
                  <button type="submit" (click)="onSubmit()" class="hidden-xs">{{'COMMON_SAVE' | translate}}</button>
                </div>
              </form>
              <button type="submit" (click)="onSubmit()" class="visible-xs">{{'COMMON_SAVE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <a class="collapsed" role="button" data-toggle="collapse" (click)="flipArrow(1)" data-parent="#accordion" href="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
              {{'PROFILE_ORDER_HISTORY' | translate}}
              <i class="fa fa-chevron-{{arrows[1]}} pull-right"></i>
            </h4>
          </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" *ngFor="let order of orders">
          <div class="panel-body order">
            <div class="well">
              <div class="row">
                <div class="col-xs-4">
                  <img src="https://cdn.shopify.com/s/files/1/2148/2715/products/Charm_1.png?v=1499947524" alt="" class="img-responsive">
                </div>
                <div class="col-xs-8">
                  <div class="row top">
                    <div class="col-xs-8" *ngIf="order.line_items">
                      <h4 style="text-align: left;">{{order.line_items.length}} item(s)</h4>
                    </div>
                    <h5 class="col-xs-4">{{order.total_price}}$</h5>
                  </div>
                  <div class="bottom">
                    <div>Expected to arrive on</div>
                    <strong>Monday 24 March 2014</strong>
                  </div>
                  <div class="order-details-actions">
                    <a class="order-action" (click)="trackOrder(order)">Track order</a>
                    <a class="order-action" (click)="viewOrder(order)">Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!orders.length" id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          {{'PROFILE_NO_ORDERS' | translate}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <a class="collapsed" role="button" data-toggle="collapse" (click)="flipArrow(2)" data-parent="#accordion" href="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title">
              {{'PROFILE_ADDRESS' | translate}}
              <i class="fa fa-chevron-{{arrows[2]}} pull-right"></i>
            </h4>
          </a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <app-address *ngFor="let address of addresses; let aid = index;" [address]="address" (onRemoved)="popAddress(aid)" (onOpened)="canAdd = false" (onClosed)="canAdd = true"></app-address>
          <div class="add-address" (click)="addAddress()" *ngIf="canAdd">
            {{'PROFILE_ADD_NEW_ADDRESS' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>